
/* Changes these to change the colors of the panel!!! */

:root {
  --main-bg-color: #1a2035 !important;
  --secondary-bg-color: #1f283e !important;
  --secondary-bg-color-alt: #202940 !important;
  --accent-color: #6861CE !important;
  --accent-secondary-color: #6861CE !important;
  --text-color: #fafafa !important;

  --border-radius: 15px !important;
}

/* Changes Background */

body, .content-wrapper {
	background-color: var(--main-bg-color) !important;
}


/* Changes Header Color */

.ebtnLL,
.cWFcHc,
.iTxXDX,
.JZicT,
.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side,
.skin-blue .main-header .navbar,
.skin-blue .main-header .logo,
.main-footer {
	background-color: var(--secondary-bg-color) !important;
	border-color: transparent !important;
	box-shadow: none !important;
}


/* Changes selected tab color */

.fmPgAW>a:active,
.fmPgAW>.navigation-link:active,
.fmPgAW>a:hover,
.fmPgAW>.navigation-link:hover,
.fmPgAW>a.active,
.fmPgAW>.navigation-link.active,
.cWFcHc>div>a:active,
.cWFcHc>div>div:active,
.cWFcHc>div>a.active,
.cWFcHc>div>div.active,
.jMDToC>a:active,
.jMDToC>.navigation-link:active,
.jMDToC>a:hover,
.jMDToC>.navigation-link:hover,
.jMDToC>a.active,
.jMDToC>.navigation-link.active,
.JZicT>div>a:active,
.JZicT>div>div:active,
.JZicT>div>a.active,
.JZicT>div>div.active {
	box-shadow: var(--accent-color) 0px -2px inset !important;
	background-color: var(--secondary-bg-color) !important;
}


/* Changes Text Color */

.fNmetC,
.hcJQtJ,
.ToRTP,
.dPhkRJ,
.cKOMAz,
.jSyjnD,
.jywpgX,
.eFKDEh,
.dUzAFF,
.cbFifO,
.farUaV,
.dMZZHB,
.lgYuLu,
.gSUxYg,
.cdBzyv,
.gxlLzB,
.jexamK,
.eWxPIu,
.eWxPIu:hover,
.jXGwrM,
.mIIYh,
.iambCQ,
.iZqkRd,
.chAlWS,
.iTwxpv,
.skin-blue .main-header .logo {
	color: var(--text-color) !important;
}


/* Changes disabled switch */

.gdhLjd>label,
.cDmYBr>label {
	background-color: var(--secondary-bg-color) !important;
	border-color: var(--secondary-bg-color) !important;
}


/* Changes enabled switch */

.gdhLjd>input[type="checkbox"]:checked+label,
.cDmYBr>input[type="checkbox"]:checked+label {
	background-color: var(--accent-color) !important;
	border-color: var(--accent-color) !important;
}


/* Changes server list color */

.liBonM,
.bOIdGn,
.jkiDvQ,
.iYhzbi,
.jqQFoq,
.bEKRkc,
.dRhlIo {
	background-color: var(--secondary-bg-color) !important;
	border-radius: var(--border-radius) !important;
	border-color: var(--secondary-bg-color) !important;
}


/* Changes border when hover */

.liBonM:hover,
.kHuGmn:hover,
.dRhlIo:hover,
.bEKRkc:hover {
	border-color: var(--accent-color) !important;
}


/* Changes status bar position and size */

.jkiDvQ .status-bar,
.bvinzM .status-bar,
.iYhzbi .status-bar,
.liBonM .status-bar,
.jqQFoq .status-bar,
.bEKRkc .status-bar,
.dRhlIo .status-bar {
	height: 7vw !important;
	right: -.25vw !important;
}


/* Changes Installing Status, and other bubble text */

.hNrKxe,
.dMZZHB,
.dHRxAp,
.epSLdr,
.bsrsDD,
.ffSVrP,
.fZqvbJ,
.fLfaAY,
.bsSkeI,
.jIIIrT,
.EwfIk,
.izAmwE,
code,
.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-search--inline .select2-search__field:focus,
.select2-container--default .select2-search--inline .select2-search__field {
	border-radius: var(--border-radius);
	background-color: var(--accent-color) !important;
	border-color: var(--accent-color) !important;
	color: var(--text-color) !important;
}


/* Changes server icons */

.kHuGmn .icon,
.jkiDvQ .icon,
.bvinzM .icon,
.iYhzbi .icon,
.liBonM .icon,
.jqQFoq .icon,
.dRhlIo .icon {
	background-color: var(--accent-color) !important;
}


/* Changes account settings area */

.hfBvRz,
.fenved {
	border-radius: var(--border-radius);
	background-color: var(--secondary-bg-color) !important;
	border-color: var(--accent-color) !important;
}


/* Changes input areas */

.eDhiE:not([type="checkbox"]):not([type="radio"]),
.lepTyw:not([type="checkbox"]):not([type="radio"]),
.eDhiE[type="checkbox"],
.eDhiE[type="radio"],
.hDlyZJ:not(.disabled):hover,
.farUaV,
.iZMsvi,
.iYSUfg,
.cKwXAB,
.ixeRNi:hover,
.jVkAsT:not([type="checkbox"]):not([type="radio"]),
.kmvYjP:not([type="checkbox"]):not([type="radio"]),
.hsUiOF,
.jrraLb,
.icxFlO:hover,
.gYNKkb,
.elUIig:hover,
.ekbHAG,
.btn-primary,
.btn-default,
.btn-default:hover,
.btn-warning,
.btn-success,
.alert-danger,
pre,
.input-group .input-group-addon,
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
	border-color: var(--accent-secondary-color) !important;
	background-color: var(--main-bg-color) !important;
	border-radius: var(--border-radius) !important;
	color: var(--text-color) !important;
}


/* Changes header-upper */

.kwjWaB,
.grusjm,
.cswOgL,
.cnbtLx,
.bPeJFv,
.bWXUsX,
.nav-tabs-custom.nav-tabs-floating>.nav-tabs,
.box-header.with-border,
.bg-gray {
	border-color: var(--secondary-bg-color-alt) !important;
	background-color: var(--secondary-bg-color-alt) !important;
	border-radius: var(--border-radius) !important;
    margin-bottom: .25vw !important;
	margin-top: .25vw !important;
	transform: scale(.96);
}


/* Changes header-lower,  */

.ifNwiE,
.LdCMD,
.fIhPZJ,
.cFegvH,
.box-body {
	border-color: transparent !important;
	background-color: var(--secondary-bg-color-alt) !important;
	border-radius: var(--border-radius) !important;
	margin-top: .25vw !important;
}


/* Hides background of radial areas */

.RkKIC,
.cRDvbO,
.dmLxWB,
.gLxIAb,
.gHwjbw,
.WUPIv,
.dQCdoR,
.vtEGy,
.kGXByO,
.nav-tabs-custom,
.box,
.box-footer,
.small-box>.small-box-footer {
	background-color: transparent !important;
	border-top: none !important;
	box-shadow: none !important;
}


/* Changes console */

.LbmBV,
.hahdAC {
	border-radius: var(--border-radius) !important;
	background-color: var(--secondary-bg-color-alt) !important;
	margin-bottom: .75vw !important;
}


/* Changes console color */

.xterm .xterm-screen,
.xterm .xterm-viewport {
	background-color: var(--secondary-bg-color-alt) !important;
}


/* Changes scroll bar */

::-webkit-scrollbar-thumb:hover {
	-webkit-box-shadow: inset 0 0 0 1px var(--accent-color), inset 0 0 0 4px var(--accent-color) !important;
}

::-webkit-scrollbar-thumb {
	border-right-width: 4px !important;
	border-left-width: 4px !important;
	-webkit-border-radius: 9px 4px !important;
	-webkit-box-shadow: inset 0 0 0 1px var(--accent-color), inset 0 0 0 4px var(--accent-color) !important;
}

::-webkit-scrollbar {
	background: var(--secondary-bg-color) !important;

}


/* Changes console input */

.JQChZ,
.csimfD {
	border-color: var(--accent-color) !important;
	background-color: var(--secondary-bg-color-alt) !important;
	border-radius: var(--border-radius) !important;
	transform: scale(0.95) !important;
    margin-top: .25vw !important;
}



/* Changes input  area */

.kZaCVF {
	border-color: var(--accent-color) !important;
	background-color: var(--secondary-bg-color-alt) !important;
	border-radius: var(--border-radius) !important;
    margin-top: .25vw !important;
}


/* Changes schedule, Users, Network, File Manager */

.kqnFDg,
.kHuGmn,
.hIHBYg,
.eGIYvK,
.bmqKpQ,
.fQUMLV {
	border-radius: var(--border-radius) !important;
	background-color: var(--secondary-bg-color) !important;
}


/* Changes Network Icon */

#app>div.sc-2l91w7-0.kDhnAT>div.sc-1p0gm8n-0.kaVYNu>section>div.x3r2dw-0.kbxq2g-0.evldyg.cZTZeB.fade-appear-done.fade-enter-done>div.sc-1xo9c6v-0.yy3pdt-3.gFWKai.hIHBYg>div.yy3pdt-4.irtdLf>div.yy3pdt-5.jCOUjK>svg {
	color: var(--text-color) !important;
}


/* Changes console input */

[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select {
	background-color: var(--main-bg-color) !important;
	border-color: transparent !important;
	color: var(--text-color) !important;
	border-radius: var(--border-radius) !important;
}


/* Changes check boxes */

.uOUEk.uOUEk,
.jVkAsT[type="checkbox"],
.jVkAsT[type="radio"] {
	border-radius: var(--border-radius) !important;
	background-color: var(--secondary-bg-color-alt) !important;
	border-color: var(--accent-color) !important;
}


/* Changes Sub-User */

.kqnFDg::-webkit-scrollbar {
	background: var(--secondary-bg-color) !important;
	border-radius: var(--border-radius) !important;
}

.ekHIsr {
	background-color: var(--secondary-bg-color) !important;
	border-radius: var(--border-radius) !important;
}


/* Fixes border radius when moving off of div */

.icxFlO,
.elUIig {
	border-radius: var(--border-radius) !important;
}


/* Changes selected admin page */

.skin-blue .sidebar-menu>li.active>a {
	box-shadow: var(--accent-color) 0px -0px inset !important;
	border-left-color: var(--accent-color) !important;
	background-color: var(--main-bg-color) !important;
}


/* Changes background color of hovered admin page */

.skin-blue .sidebar-menu>li:hover>a,
.skin-blue .sidebar-menu>li.active>a,
.skin-blue .sidebar-menu>li.menu-open>a,
.skin-blue .main-header .navbar .sidebar-toggle:hover {
	background-color: var(--main-bg-color) !important;
}


/* Changes category name */

.skin-blue .sidebar-menu>li.header {
	color: var(--text-color) !important;
	background-color: var(--secondary-bg-color-alt) !important;
}


/* Changes selected tab and background color */

.nav-tabs-custom>.nav-tabs>li.active,
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
	border-top-color: var(--accent-color) !important;
	border-bottom-color: var(--accent-color) !important;
}

.nav-tabs-custom>.nav-tabs>li.active>a,
.nav-tabs-custom>.nav-tabs>li.active:hover>a {
	background-color: var(--secondary-bg-color-alt) !important;
	border-color: transparent;
}

.nav-tabs-custom>.nav-tabs>li:hover {
	border-top-color: var(--accent-color) !important;
}

/* Removes border */

.box-footer,
hr {
	border-top: none !important;
}

.nav-tabs-custom>.nav-tabs>li.active,
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
	background-color: var(--secondary-bg-color-alt) !important;
}

/* Removes port bubble */

.cxwlaX {
	background: var(--secondary-bg-color-alt) !important;
}

/* Fixes console scroll bar */

.xterm .xterm-viewport::-webkit-scrollbar {
	background: var(--secondary-bg-color-alt) !important;
}

.select2-container--default .select2-search--inline .select2-search__field {
	background: var(--main-bg-color) !important;
}

.nav-tabs-custom.nav-tabs-floating > .nav-tabs > li:first-child.active, .nav-tabs-custom.nav-tabs-floating > .nav-tabs > li{
	border-radius: 15px !important;
}

.box-body {
	transform: scale(.97);
}

.modal-header,
.modal-body,
.modal-footer{
	background: var(--secondary-bg-color-alt) !important;
	border-color: var(--accent-color) !important;
}

.modal-header .close {
	color: var(--text-color) !important;
}

input.form-control {
	background: var(--main-bg-color) !important;
}

.input-group .input-group-addon {
	border: none !important;
}

.input-group .form-control {
	margin-right: 5% !important;
	position: relative;
}

.skin-blue .sidebar-menu>li.header {
	background: var(--main-bg-color) !important;
}

.radio-primary input[type="radio"]:checked + label::after,
.radio input[type="radio"]:checked + label::after{
	background-color: var(--accent-color) !important;
}

.alert-warning {
	border-radius: var(--border-radius) !important;
}
